<!DOCTYPE html>
<html ng-app="integrate">
<head>
  <title>IntegrateMe</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'entrant_page' %>
  <%#= stylesheet_pack_tag 'entrant_page' %>
</head>
<body>

<%= yield %>

</body>
</html>
